@model IEnumerable<PiranhaCMS.SampleManagerExtenstion.Models.Product>

@{
    ViewBag.Title = "Index";
}


@section Toolbar {
    @Html.Partial("Partial/Tabs")
    <div class="toolbar">
        <div class="inner">
            <ul>
                <li>
                    <a href="@Url.Action("create")" class="add">
                        @Piranha.Resources.Global.ToolbarAdd
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("index")" class="refresh">
                        @Piranha.Resources.Global.ToolbarReload
                    </a>
                </li>
            </ul>
            <button class="search" title="@Piranha.Resources.Global.ToolbarSearch"></button>
            @Html.TextBox("search")
            <div class="clear"></div>
        </div>
    </div>
}

<div class="grid_12">
    <table class="list">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var prod in Model) {
                <tr>
                    <td><a href="@Url.Action("edit", new { @id = prod.ProductID })">@prod.ProductName</a></td>
                </tr>
      }
        </tbody>
    </table>
</div>
